@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");

.loading{
  background-image: url("https://64.media.tumblr.com/tumblr_m9ck6ebiGl1qi2riwo1_500.gifv");
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
h1{color:white}

.body{
  height: 100%;
  width: 100%;
}
.body2{
background-color: black;
  height: auto;
  width: 100%;
}

.fondo{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/91188f4a-d4d3-4f33-af28-2be841b04cf0/d4an1tk-2b341f5c-ada5-4a0f-9c3d-03659cd6f8fb.jpg/v1/fill/w_1024,h_576,q_75,strp/vive_en_estado_play__ps_mexico_by_nonalizhus_d4an1tk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvOTExODhmNGEtZDRkMy00ZjMzLWFmMjgtMmJlODQxYjA0Y2YwXC9kNGFuMXRrLTJiMzQxZjVjLWFkYTUtNGEwZi05YzNkLTAzNjU5Y2Q2ZjhmYi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.pzTeWg8ngSQyyWpI6hlB62icbnFs1Z40eBNZyILWqzc");
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-y: -4rem;
}

.filters{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
  .contenedor{
    width: 100%;
    height: auto;
  }

.container {
    display:inline-flex;
    align-items:center;
    flex-direction: row;
    text-align: center;
    padding:  40px 0px;
    width: 100%;
}

.box{
    display: inline-flex;
    /* display: flex; */
    justify-content:space-around;
    background-color: red;
    flex-direction: row;
 
}

.contenedor{
    display: flex;
    width: 100%;
    height: 100%;
}

h1 {
    display: inline;
}

.card{
    margin: 20px;
    display: inline-block;
    width: 325px; 
    height: 300px; 
    border: 3px solid rgb(44, 44, 44);
    border-radius: 10%;
    background-color: rgb(243, 243, 242);
    opacity: 0.9;
    -webkit-box-shadow: -11px -12px 15px 5px #000000; 
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: -5px -6px 8px 2px #252525;

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.card:hover, .card:focus, .card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: -11px -12px 15px 6px #252525;
}